{{! Title }}
<script> document.title = 'Home' </script>

{{! Style }}
<style>
  p{ font-size: larger; }
</style>

{{! Body }}
<div class="container">
  <div class="row mt-5">
    <div class="col">
      <h1 class="text-center">Blog Using Express Js and Express HandleBars</h1>
    </div>
  </div>

  <div class="content mt-5">
    Go to Blogs Page
    <a href="/blog">Blogs</a>
  </div>
</div>